header {
  width: 100%;
  height: 8.8rem;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: var(--gray-colors-600);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  align-items: center;
}
header .menu-mobile {
  display: none;
}
header nav ul {
  display: flex;
  margin-right: 3.2rem;
}
header nav ul li {
  margin-right: 3.2rem;
}
header nav ul li:last-child {
  margin-left: 0;
}
header nav .btn-primary {
  padding: 0.9rem 3.4rem;
}
section.s-hero {
  margin-top: 8.8rem;
  padding: 7.2rem 0px;
}
.s-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-hero .text {
  width: 100%;
  max-width: 64rem;
}
.s-hero .text h1 {
  margin-bottom: 2rem;
}
.s-hero .text p {
  font-size: 1.8rem;
  color: var(--gray-colors-300);
  line-height: 150%;
  max-width: 48.8rem;
  margin-bottom: 5.6rem;
}
.s-hero .text .btn-primary {
  padding: 1.7rem 3.7rem;
}
.s-hero .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 48.8rem;
  height: 49.6rem;
  background-color: var(--gray-colors-600);
}
.s-card-featured {
  background-color: var(--gray-colors-100);
  padding-top: 10.4rem;
  padding-bottom: 12rem;
}
.s-card-featured .main-area {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 12.5rem;
}
.s-card-featured .title {
  display: flex;
  flex-direction: column;
}
.s-card-featured .title.center {
  align-items: center;
}
.s-card-featured .title p {
  margin-top: 0.8rem;
}
.s-card-featured p {
  color: var(--white-colors-text);
}
.s-card-featured .all-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
}
.s-card-featured .all-cards .card {
  width: 100%;
  max-width: 38.4rem;
  height: 38.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.4rem;
  background-color: rgba(28, 27, 31, 0.5);
}
.s-card-featured .all-cards .card.white {
  background-color: var(--white);
}
.s-card-featured .all-cards .card.white h3 {
  color: var(--gray-colors-100);
}
.s-card-featured .all-cards .card.card.white p {
  color: var(--gray-colors-300);
}
.s-card-featured .all-cards .info {
  margin-top: 4rem;
  max-width: 28.8rem;
}
.s-card-featured .all-cards .info h3,
p {
  text-align: center;
}
.s-card-featured .all-cards .info p {
  margin-top: 0.8rem;
  line-height: 150%;
}
.s-card-featured .second-area{
  margin-top: 11.2rem;
}
.s-card-featured .second-area .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}
.s-card-featured .second-area .all-imgs{
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.s-card-featured .second-area .all-imgs .image{
  width: 17.6rem;
  height: 11.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-colors-200);
}
.s-newsletter{
  padding: 15.2rem 0;
  background-color: var(--gray-colors-200);
}
.s-newsletter .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-newsletter h2{
  margin-bottom: 2rem;
  text-align: center;
}
.s-newsletter p {
  max-width: 69.4rem;
  margin-bottom: 4rem;
  text-align: center;
  color: var(--white-colors-text);
}
.s-newsletter .btn-primary{
  padding: 1.75rem 4.1rem;
}
footer{
  padding-top: 8.8rem;
  padding-bottom: 3.9rem;
  background-color: var(--gray-colors-100);
}
footer main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 7.2rem;
}
footer main .area-left{
  max-width: 28rem;
}
footer main .area-left p {
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--white-colors-text);
  margin-top: 3.5rem;
}
footer main nav{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 77.7rem;
}
footer main nav .item h6{
  font-family: 'Sora',sans-serif;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -1px;
  color: var(--white);
  margin-bottom: 2.4rem;
}
footer main nav .item ul li{
  margin-bottom: 3.2rem;
}
footer main nav .item ul li:last-child{
  margin-bottom: 0;
}
footer main nav .item ul li a {
  font-family: 'Sora',sans-serif;
  font-size: 1.4rem;
  line-height: 105%;
  color: var(--white-colors-text);
  transition: color .3s;
}
footer main nav .item ul li a:hover {
  color: var(--white);
}
footer main nav .item:last-child ul li a{
  display: flex;
  align-items: center;
}
footer main nav .item:last-child ul li a span{
  margin-left: 0.8rem;
}
footer .copy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.1rem;
}
footer .copy p {
  font-size: 1.4rem;
  color: var(--white);
}
footer .copy .group{
  display: flex;
  align-items: center;
}
footer .copy .group span {
  margin-right: 0.8rem;
  color: var(--white);
}