:root {
  --brand-colors-pink: #f67acb;
  --gray-colors-100: #050110;
  --gray-colors-300: #393c40;
  --gray-colors-400: #5c6066;
  --gray-colors-500: #E6EBF2;
  --gray-colors-600: #F7F8FA;
  --white-colors-text: #ffffffb3;
  --white: #ffffff;
}
